<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="roi" value="0.30"/>
      <add key="glassSquarePrice" value="45.0"/>
      <add key="borderPricePerMeter" value="100.0"/>
      <add key="work" value="150.0"/>
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>